*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-transform: capitalize;
    font-family: cursive;
    letter-spacing: 3px;
    background-color: rgba(216, 209, 203, 0.849);
}
body{
    width: 97vw;
    height: 97vh;
}
header{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 2%;
    width: 100%;
    height: 12%;
    left: 50%;

}
i
{
display: inline;

}

@keyframes fromleft
{
    0%
    {
        left: -50%;
    }
    100%
    {
        left: 0%;
    }
}

h1{
    display: inline-block;
    padding-left: 30px;
    width: 30%;
    position: relative;
    left: 0%;
    animation: fromleft 1s ease-in-out  ;
}

#contacts
{
    margin-top: 50px;
    display: block;
    width: 40%;
    height: auto;
    position: relative;
     left: 50%; 
    transform: translate(-50%,0); 
    background-color: rgb(61, 58, 56);

}
.contacts
{
    display: inline-block;
    width: 90%;
    height: 70px;
}

.contacts p
{
    display: inline-block;
}
.contacts p:hover
{
    background-color: rgb(160, 152, 152);
}
.p1,.p2
{
    width: 45%;
    text-align: left;
    padding: 3%;
}
.p3
{
    width: 6%;
    margin-top:3% ;
    text-align: right;
    text-decoration: none;
}

.p3:hover
{
    transform: translate(0,-3px);
    box-shadow: 0 5px 10px gray;
}
.p3:active
{
    transform: translate(0,0);
    box-shadow: 0 5px 10px gray;
}
.form
{
    display: inline-block;
    width: 90%;
    padding: 20px 0;
}
.details
{
    display: inline-block;
    width: 40%;
    height:5% ;
}
input[type="submit"]
{
    width: 16%;
    text-align: center;
}
